.navbar {
	padding-right: 150px;
	
	display: flex;
	justify-content: space-between; 
	align-items: center;
	
	background-image: linear-gradient(to left, #eeeeee, #f8f8ff);
	border-bottom: 1px solid black;
}

main {
	margin: 50px 0;
	padding: 30px;
}

.li-index {
	list-style-type: none;
}

.menu-header {
	margin: 20px 40%;
	padding: 20px;

	font-size: 20px;
	background-image: linear-gradient(to right, #eeeeee, #f8f8ff);
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	border: 1px solid #888888;
	border-radius: 20px;
	box-shadow: 5px 10px 10px #888888;
}

.menu-header:hover {
	cursor: pointer;
	font-weight: bold;
}

.menu-header a:hover {
	text-decoration: none;
}

.menu-header:active {
	box-shadow: 0 5px 5px #666;
	transform: translateY(4px);
}

footer {
	margin-top: 80px;
	padding: 0 0 0 20px;
}

footer p {
	margin: 10px;
	text-align: end;
}

.form-area {
	padding: 30px;
	
	border: 1px solid #888888;
	border-radius: 10px;
	box-shadow: 5px 10px 10px #888888;
	
	font-size: 20px;	
	background-image: linear-gradient(to right, #eeeeee, #f8f8ff);
}

.form-control {
	font-size: 20px;
}

textarea {
	resize: none;
}

.form-footer {
	display: flex;
	justify-content: space-between;
}

.btn {
	font-size: 20px;
}