.navbar {
	padding-right: 150px;
	
	display: flex;
	justify-content: space-between; 
	align-items: center;
	
	background-image: linear-gradient(to left, #EACACA , #f8f8ff);
}

main {
	margin: 50px 0;
	padding: 30px;
}


.li-index {
	list-style-type: none;
}

.menu-header {
	font-family: Century Gothic;
	width: 100%;
	padding: 20px;

	font-size: 20px;
	background-color: #FFBDBA  ;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.menu-header:hover {
	cursor: pointer;
	background-color: #FF6F7C;
}

.menu-header a:hover {
	text-decoration: none;
}

.menu-header:active {
	box-shadow: 0 5px 5px #666;
	transform: translateY(4px);
}

footer {
	margin-top: 80px;
	padding: 80px 0 0 20px;
	background-color: #E7E7E7;
	display: flex;
}

footer p {
	margin: auto;
	text-align: end;
	margin-bottom: 20px;
	color: #787878;
}

/* Cadastro */
.form-area {
	
	padding: 30px;
	top: 0%;
	
	border: 1px solid #888888;
	border-radius: 10px;
	box-shadow: 5px 10px 10px #888888;
	
	font-size: 20px;	
	background-color: #E6CBCD ;
}
	
}

.form-control {
	font-size: 20px;
}

textarea {
	resize: none;
}

.form-footer {
	display: flex;
	justify-content: space-between;
}

.btn {
	font-size: 20px;
	display: inline-block;
}

/* Exibir Resultados */
.list{
	padding: 30px;
	border: 1px solid #ced4da;
	border-radius: 10px;
	box-shadow: 1px 5px 20px black;
	width: 50%;
	margin: 100px auto;
	font-size: 20px;	
	background-image: linear-gradient(to right, #eeeeee, #f8f8ff);
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}

#menuCadastro{
	background-color: #FFBDBA  ;
	width:80%;
	padding: 10px 10px 10px;
	margin: auto;
	text-align: center;
	border-radius: 10px;
	margin-top: 5%;
}

.menu-main{
	display: inline-block;
	width:15%;
}

.subtitulo{
	font-family: Century Gothic;
	width:15%;
	margin: 20px 15%;
}

h2{
	font-family: Century Gothic;
	font-weight: 100;
}